@use "../custom" as *;
@use "../components/mixins" as *;

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 2;

  i {
    color: $white;
    font-size: 1rem;
    @include absoluteCenter;
  }
}

//ANIMATION

.border-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid $gray-800;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  // @include media-breakpoint-up(lg) {
  //   width: 6rem;
  //   height: 6rem;
  // }
  // @include media-breakpoint-up(sm) {
  //   width: 4rem;
  //   height: 4rem;
  // }

  &--border-1 {
    animation-delay: 1s;
  }
  &--border-2 {
    animation-delay: 1.5s;
  }
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
