@use "../custom" as *;

@mixin gradient {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0) 50%,
    rgb(31, 28, 29)
  );
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transitionProperty {
  transition-duration: 2s;
  transition-property: all;
}
